<ngb-carousel *ngIf="posts" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">

            <div *ngFor="let post of posts.items">
                    <ng-template ngbSlide>
                        <img src="sdf"/>


                            <div class="carousel-caption">
                              <h3>10 seconds between slides...</h3>
                              <p>This carousel uses customized default values.</p>
                            </div>
                    </ng-template>

            </div>
         
      </ngb-carousel>
      