

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<button mat-button 
[matMenuTriggerFor]="blogMenu" 
(mouseenter)="openMyMenu()">
Menu
</button>

<mat-menu #blogMenu="matMenu" overlapTrigger="false">
<span (mouseleave)="closeMyMenu()">
  <div *ngIf="blogs">
  <div *ngFor="let blog of blogs.items">
  <button (click)="selectBlog(blog.id)" mat-menu-item>{{blog.name}}</button>
</div>
</div>
<button  mat-menu-item *ngIf="!isLoggedIn()" (click)="doLogin()" >Login</button>

<button  mat-menu-item *ngIf="isLoggedIn()" (click)="doLogout()" >Logout</button>
</span>
</mat-menu>
  
  <div *ngIf="blogs && !blogs.items">
      No blogs available.
  </div>


<div *ngIf="isLoggedIn() && !blogs">

      <mat-spinner></mat-spinner>
  
     Loading blogs...
  
</div>

<br/>
<br/>



<div *ngIf="isLoggedIn() && blog">

  <div *ngIf="viewMode">


    <div *ngIf="post">



      <mat-card class="example-card" (swipeleft)="swipeCard('swipeleft')" (swiperight)="swipeCard('swiperight')">
          <mat-card-actions>
              <button  [disabled]="postIndex==0" (click)="gotoPreviousPost()" mat-button>Previous</button>
              <button [disabled]="postIndex == posts.items.length"(click)="gotoNextPost()" mat-button>Next</button >
                <button (click)="editCurrentPost()" mat-button>Edit</button >

                  <button [disabled]="!_editCurrentPost" (click)="openSaveDialog();editCurrentPost()" mat-button>Save</button>
                  <button (click)="openDeleteDialog()" mat-button>Delete</button>

            </mat-card-actions>
          <mat-card-header>
            <mat-card-title> {{post.title}}</mat-card-title>

          </mat-card-header>

          <mat-card-content>

                <div [innerHTML]="safePostContent" style="max-height:400px;overflow-y: scroll;overflow-x:hidden; "></div>

          </mat-card-content>
          
        
        </mat-card>

        <div *ngIf="_editCurrentPost">

          <br/>
          <br/>

           <mat-form-field>
            <input matInput placeholder="Title" [(ngModel)]="post.title"/>
            </mat-form-field>

        <app-ngx-editor style="max-height:600px;width:600px"  [spellcheck]="true" [(ngModel)]="post.content"></app-ngx-editor>

      </div>
        </div>
        </div>
 
    </div>


  <div *ngIf="!viewMode">

Number of posts: &nbsp;
{{blog.posts.totalItems}} <br/><br/>

    <button (click)="createNewPost()" mat-flat-button>New</button>


   <div *ngIf="isLoggedIn() && !blog">

      <mat-spinner></mat-spinner>
  
     Loading blog and posts...
     </div>

     <div *ngIf="isLoggedIn() &&  dataSource.data != null">
     <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      </div>



     <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

     <div fxFlex="50%">

<div *ngIf="isLoggedIn() &&  dataSource.data != null">


      
    <div  style="overflow:scroll; height:400px;"  class="mat-elevation-z8">

        <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
          <td width="400px" mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
            <td width="100px" mat-cell *matCellDef="let row"> {{row.author.displayName}} </td>
          </ng-container>

          <ng-container matColumnDef="published">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Published </th>
              <td width="200px" mat-cell *matCellDef="let row"> {{row.published}} </td>
            </ng-container>

  
      
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayColumns;"  [ngClass]="{'highlight': selectedRowIndex == row.id}"
        (click)="highlight(row)"></tr>
       
      </table>

    </div>
      

</div>
</div>


<div fxFlex="50%">
          <div  *ngIf="isLoggedIn() && post">            
 
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title> {{blog.name}}</mat-card-title>

                </mat-card-header>
            
                <mat-card-content>

                    <div class="fields-container">
                        <mat-form-field>
                          <input matInput placeholder="Title" [(ngModel)]="post.title"/>
                          </mat-form-field>
   
                  
                      </div>
                    <app-ngx-editor style="max-height:600px" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="post.content"></app-ngx-editor>


                </mat-card-content>
                <mat-card-actions>
                    <button (click)="openSaveDialog()" mat-button>Save</button>
                    <button (click)="openDeleteDialog()" mat-button>Delete</button>
                  </mat-card-actions>
              
              </mat-card>

            
            </div>
          </div>
       
    </div>

    

    </div>

    

  


   



        


    


   















